table{
    border-collapse: collapse;
}
td{
    padding: 20px;
}
thead{
    background-color: black;
    color: white;
    text-transform: uppercase;
}
tbody tr:nth-child(even){
    background-color: rgb(222, 248, 233);
}
#i1{
    text-transform: capitalize;
}
th{
    padding: 20px;
}