table{
    border-collapse: collapse;
}
th{
    background-color: rgb(34, 33, 33);
    text-transform: capitalize;
    padding: 10px;
    color: aliceblue;
    padding: 20px;
}
td{
    padding: 20px;
}
#i1{
    font-weight: bold;
}
#i2{
    width: 500px;
}